<?xml version="1.0"?>
<!--
  ~ /**
  ~  * Magepow
  ~  * @category    Magepow
  ~  * @copyright   Copyright (c) 2014 Magepow (http://www.magepow.com/)
  ~  * @license     http://www.magepow.com/license-agreement.html
  ~  * @Author: DavidDuong
  ~  * @@Create Date: 4/16/19 2:24 PM
  ~  * @@Modify Date: 4/16/19 2:24 PM
  ~  */
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <magepow_layerednav>
            <general>
                <enabled>1</enabled>
                <price_slider>1</price_slider>
                <step>1</step>
                <show_filters>1</show_filters>
                <sticky_sidebar>0</sticky_sidebar>
                <sticky_top>0</sticky_top>
            </general>
        </magepow_layerednav>
    </default>
</config>
