<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepow" translate="label" sortOrder="89">
            <label>MagePow</label>
        </tab>
        <section id="magepow_layerednav" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Layered Ajax</label>
            <tab>magepow</tab>
            <resource>Magepow_Layerednav::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price_slider" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Use Price Range Sliders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="step" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Step unit Sliders</label>
                    <comment>Price per unit</comment>
                    <validate>validate-number validate-greater-than-zero</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="price_slider">1</field></depends>
                </field>
                <field id="show_filters" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Expanded All Filters</label>
                    <comment>Choose "No" will collapsed all filters</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sticky_sidebar" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sticky sidebar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sticky_top" translate="label comment" type="text" sortOrder="110"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Space top</label>
                    <comment>Space sticky on top 0 will is auto</comment>
                    <validate>validate-digits validate-zero-or-greater</validate>
                    <depends><field id="sticky_sidebar">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>
